package user

import (
	"templ-template/view/layout"
	"templ-template/view/components"
	"templ-template/model"
)

func getUser(ctx context.Context) string {
	user, ok := ctx.Value("user").(string)
	if ok {
		return user
	}
	return ""
}

templ Show(user model.User) {
	@layout.Base() {
		<h1>
			{ getUser(ctx) }
		</h1>
		<h1>Hello "{ user.Email }" from the user page</h1>
		@components.Input(components.InputProps{
			Type: "email",
			Name: "email",
		})
	}
}
